streamlit==1.36.0
langchain==0.2.5
langchain-community==0.2.5
langchain-huggingface==0.0.3
chromadb== 0.5.3
pypdf==4.2.0
protobuf==3.20.*
pysqlite3-binary
numpy
scikit-learn
nltk
rouge-score
spacy
torch
transformers
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
